<!DOCTYPE html>
<html>
	<head>
		<meta
		charset="UTF-8">
		{# Pour le Responsive Design #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Pour le Design avec Bootstrap #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			{% block nav %}
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid">
						<a href="{{ path('app_home_listeLivres') }}">
							<img class="navbar-brand" src="{{asset('images/logoLivres/purepng.com-booksbookillustratedwrittenprintedliterature-14215264519035vkku.png')}}" alt="mon catalogue de livres">
						</a>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav e-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="{{ path('app_home_listeLivres') }}">Home : liste des livres</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_genre')}}">Genres de livres</a>
								</li>
								<li>
									<a class="nav-link" href="{{path('app_livre_ajouter')}}">Ajout d'un livre'</a>
								</li>
							</ul>
						</div>
					</div>
				{% endblock %}
		</header>
			{% block body %}{% endblock %}
	</body>
</html>
